/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
    overflow-x: hidden;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #bababa;
}
@media (max-width: 500px) {
  .nav {
    flex-direction: column;
    max-width: 100%;
    align-items: center;
  }
}
.nav .nav-text-div {
  min-width: 20rem;
}
.nav .nav-text-div .nav-text {
  font-size: 40px;
  font-family: 'Indie Flower', cursive;
  width: 100%;
  display: flex;
  margin-top: 3rem;
  margin-left: 5rem;
  padding-bottom: 2rem;
  justify-content: flex-start;
}
@media (max-width: 500px) {
  .nav .nav-text-div .nav-text {
    justify-content: center;
    margin-left: 0px;
  }
}
.nav .navBar {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  .nav .navBar {
    max-width: 100%;
    justify-content: center;
    margin-right: 0px;
    overflow-x: hidden;
  }
}
.nav .navBar a {
  font-size: 15px;
  font-family: "Merriweather", serif;
  color: black;
  margin: 3.5rem 1.5rem 1.5rem 1.5rem;
  text-decoration: none;
}
@media (max-width: 500px) {
  .nav .navBar a {
    margin-top: 0px;
  }
}
.nav .navBar a:hover {
  text-decoration: underline;
  background: rgba(10, 82, 141, 0.2);
  border-radius: 4px;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
    overflow-x: hidden;
  }
}
.container .home {
  margin: 20 auto;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .container .home {
    overflow-x: hidden;
  }
}
@media (max-width: 500px) {
  .container .home .header {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
.container .home .header .header-text {
  margin-top: 2rem;
  border-bottom: 1px dashed #bababa;
}
.container .home .header .header-text .header-head-text {
  font-family: 'Indie Flower', cursive;
  font-size: 31px;
}
.container .home .header .header-text .header-sub-text {
  font-size: 14px;
}
.container .home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .container .home .content-section {
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
    margin-left: 4rem;
  }
}
.container .home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .container .home .content-section .text-content {
    width: 95%;
  }
}
.container .home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .container .home .content-section .img-content {
    width: 90%;
    margin-right: 2rem;
  }
}
.container .home .content-section .img-content img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .container .home .inverse-content {
    display: flex;
    flex-direction: column-reverse;
  }
}
.container .home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
.container .home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
@media (max-width: 500px) {
  .container .home .inverse-content .text-content {
    width: 95%;
  }
}
.container .home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
@media (max-width: 500px) {
  .container .home .inverse-content .img-content {
    width: 90%;
  }
}
.container .home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media (max-width: 500px) {
  .container .home .content-destination {
    width: 80%;
    margin-left: 3rem;
  }
}
@media (max-width: 500px) {
  .container .home .content-destination .content-pick-destination {
    margin: 0px !important;
  }
}
.container .home .content-destination img {
  border-radius: 10px;
}
.container .home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .container .home .content-pick {
    flex-wrap: wrap;
    margin-right: 5rem;
    margin-left: 3rem;
    justify-content: space-around;
  }
}
.container .home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .container .home .content-pick .destination {
    width: 100%;
  }
}
.container .home .content-pick .destination .btn {
  text-align: center;
  background-color: #008081;
  color: white;
  font-size: 17px;
  border-radius: 10px;
  padding: 1.3rem 3rem 1.3rem 3rem;
  margin: 0.8rem 0.8rem 0.8rem 0.8rem;
}
