// Mixins in here
.custom-button(@bg-color, @font-color, @font-size, @border-radius, @padding, @margin){
    background-color: @bg-color;
    color: @font-color;
    font-size: @font-size;
	border-radius: @border-radius;
	padding: @padding;
    margin: @margin;
}